*.py linguist-language=Python
*.ico linguist-detectable=false
*.ttf linguist-detectable=false
*.pdf linguist-detectable=false
*.png linguist-detectable=false
*.jpg linguist-detectable=false
*.html linguist-detectable=false
*.txt linguist-detectable=false
*.bat linguist-detectable=false
*.ttc linguist-detectable=false
*.ttf linguist-detectable=false