*.py linguist-language=Python

# Evita que esses arquivos influenciem
*.txt linguist-detectable=false
*.pdf linguist-detectable=false
*.ttf linguist-detectable=false
*.ico linguist-detectable=false
*.png linguist-detectable=false
*.jpg linguist-detectable=false
*.jpeg linguist-detectable=false